:root{
    --bs-lavender-purple: #8c67ccff;
    --bs-parchment: #f7f4edff;
    --bs-periwinkle: #b6cdf6ff;
    --bs-dusk-blue: #2d5692ff;
    --bs-dusk-blue-2: #254779ff;
    --bs-deep-space-blue: #2c3d55ff;
    --bs-space-indigo: #252e4dff;
    --bs-link-color: #2d5692ff;
    --bs-link-hover-color: #8c67ccff;
    --bs-font-primary: "Geomini", sans-serif;
    --bs-font-secondary: "Exo 2", sans-serif;
}

body{
    margin: 0;
    background-color: var(--bs-deep-space-blue);
}

#root {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto; /* nav em cima, main ocupa o meio, footer embaixo */
  height: 100vh; /* garante altura total da tela */
}


h1, h2, h3, h4, h5, h6{
    color:var(--bs-parchment);
    font-family: var(--bs-font-secondary);
}
  
p{
    font-family: var(--bs-font-primary);
    color: var(--bs-periwinkle);
    letter-spacing: -0.5px;
}

nav{
    grid-area: nav;
}

#mainNav {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

#mainNav.navbar-shrink {
  background-color: var(--bs-deep-space-blue);
  border-bottom: 1px solid rgba(182, 205, 246, 0.3);
}
  
#mainNav.navbar-shrink .nav-link:active {
  color: var(--bs-parchment);
}

#mainNav.navbar-shrink .nav-link.active {
  outline: none;
  color: var(--bs-lavender-purple);
  border-bottom: 0.25rem solid var(--bs-lavender-purple);
}

#mainNav .nav-link{
  font-size: 14px;
}

#mainNav .navbar-brand{
    font-size: 18px;
}

#mainNav .navbar-toggler{
    border: transparent;
    font-size: 18px;
}

#mainNav .nav-link, .navbar-brand, .navbar-toggler{
    color: var(--bs-parchment);
    font-weight: bold;
    transition: color 0.3s ease;
}

#mainNav
.nav-link:hover,
.navbar-brand:hover,
.navbar-toggler:hover{
  color: var(--bs-lavender-purple);
}

#mainNav
.navbar-toggler:focus{
  box-shadow: none;
}

main{
  grid-area: main;
}

footer{
    grid-area: footer;
    text-align: center;
    font-size: 12px;
}